@import '_variables';

body {
  background:$back-color;
}

.teste12312 {
  background: green;
}

.teste112 {
  background: green;
}

.teste1312 {
  background: green;
}

.teste1231 {
  background: green;
}

.teste2312 {
  background: green;
}
