$primary-color: #7159c1;

* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

@keyframes trans {
  0% {
    opacity: 1;
    transform: translateY(100%) rotate(0deg);
  }

  100% {
    opacity: 0;
    transform: translateY(-1500%) rotate(360deg);
  }
}

body {
  overflow: hidden;
}

div.container {
  background: $primary-color;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  div.card {
    @keyframes comming {
      0% {
        opacity: 0;
        transform: translateY(-200%);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
    z-index: 1000;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    padding: 20px 40px;
    animation: comming ease-in-out 1s;
    header {
      color: #777;
      font-weight: bold;
      margin-bottom: 20px;
    }
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      label {
        width: 100%;
        input {
          color: #777;
          height: 40px;
          width: 100%;
          padding-left: 10px;
          border: 0.5px solid rgba(0, 0, 0, 0.2);
          &::placeholder {
            color: #999;
          }
        }
      }
      button {
        border: 0;
        width: 80px;
        height: 40px;
        background: $primary-color;
        color: #fff;
        font-weight: bold;
        align-self: flex-end;
        &:hover {
          background: #58449b;
        }
      }
    }
  }
}
